%dl
  %dt.AccentColor AccentColor
  %dd AccentColor. Background of accented user interface controls
  %dt.AccentColorText AccentColorText
  %dd AccentColorText. Text of accented user interface controls
  %dt.ActiveText ActiveText
  %dd ActiveText. Text of active links
  %dt.ButtonBorder ButtonBorder
  %dd ButtonBorder. Base border color of controls
  %dt.ButtonFace ButtonFace
  %dd ButtonFace. Background color of controls
  %dt.ButtonText ButtonText
  %dd ButtonText. Text color of controls
  %dt.Canvas Canvas
  %dd Canvas. Background of application content or documents
  %dt.CanvasText CanvasText
  %dd CanvasText. Text color in application content or documents
  %dt.Field Field
  %dd Field. Background of input fields
  %dt.FieldText FieldText
  %dd FieldText. Text in input fields
  %dt.GrayText GrayText
  %dd GrayText. Text color for disabled items (e.g. a disabled control)
  %dt.Highlight Highlight
  %dd Highlight. Background of selected items
  %dt.HighlightText HighlightText
  %dd HighlightText. Text color of selected items
  %dt.LinkText LinkText
  %dd LinkText. Text of non-active, non-visited links
  %dt.Mark Mark
  %dd Mark. Background of text that has been specially marked (such as by the HTML mark element)
  %dt.MarkText MarkText
  %dd MarkText. Text that has been specially marked (such as by the HTML mark element)
  %dt.VisitedText VisitedText
  %dd VisitedText. Text of visited links
%p
  %small Switch to dark mode to see which colors change (different per browser)