main-color = white
main-hover-color = black

border-radius()
 -webkit-border-radius arguments
 -moz-border-radius arguments
 border-radius arguments

body a
 font 12px/1.4 "Lucida Grande", Arial, sans-serif
 background main-color
 color #ccc

form input
 padding 5px
 border 1px solid
 border-radius 5px

textarea
input
  border 1px solid #eee

// Relative Reference
.foo
  .bar
    width: 10px

    &,
    ../ .baz
      height: 10px

// Property Lookup
#logo
  position: absolute
  top: 50%
  left: 50%
  width: w = 150px
  height: h = 80px
  margin-left: -(w / 2)
  margin-top: -(h / 2)
  
// Interpolation
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

button
  border-radius 1px 2px / 3px 4px
  
// Selector Interpolation
table
  for row in 1 2 3 4 5
    tr:nth-child({row})
      height: 10px * row

// Keyword Arguments
body {
  color: rgba(255, 200, 100, 0.5);
  color: rgba(red: 255, green: 200, blue: 100, alpha: 0.5);
  color: rgba(alpha: 0.5, blue: 100, red: 255, 200);
  color: rgba(alpha: 0.5, blue: 100, 255, 200);
}