div(id="snackbar") Message
div(class='container')
  div(class="div-gradients")
    a(class="gradientAli" id="Ali" onclick="buttonClicked(this.id)") Ali
    a(class="gradientPurpleWhite" id="PurpleWhite" onclick="buttonClicked(this.id)") PurpleWhite
    a(class="gradientColorsOfSky" id="ColorsOfSky" onclick="buttonClicked(this.id)") ColorsOfSky
    a(class="gradientDecent" id="Decent" onclick="buttonClicked(this.id)") Decent
    a(class="gradientDarkSkies" id="DarkSkies" onclick="buttonClicked(this.id)") DarkSkies
    a(class="gradientSuzi" id="Suzi" onclick="buttonClicked(this.id)") Suzi
    a(class="gradientSuzi2" id="Suzi2" onclick="buttonClicked(this.id)") Suzi2
    
  div(class="div-gradients")
    a(class="gradientSuperman" id="Superman" onclick="buttonClicked(this.id)") Superman
    a(class="gradientSuperman2" id="Superman2" onclick="buttonClicked(this.id)") Superman2
    a(class="gradientNighthawk" id="Nighthawk" onclick="buttonClicked(this.id)") Nighthawk
    a(class="gradientForest" id="Forest" onclick="buttonClicked(this.id)") Forest
    a(class="gradientForest2" id="Forest2" onclick="buttonClicked(this.id)") Forest2
    a(class="gradientMiamiDolphins" id="MiamiDolphins" onclick="buttonClicked(this.id)") MiamiDolphins
    
  div(class="div-gradients")
    a(class="gradientMiamiDolphins2" id="MiamiDolphins2" onclick="buttonClicked(this.id)") MiamiDolphins2
    a(class="gradientMinnesotaVikings" id="MinnesotaVikings" onclick="buttonClicked(this.id)") MinnesotaVikings
    a(class="gradientChristmas" id="Christmas" onclick="buttonClicked(this.id)") Christmas
    a(class="gradientPizelex" id="Pizelex" onclick="buttonClicked(this.id)") Pizelex
    a(class="gradientHaikus" id="Haikus" onclick="buttonClicked(this.id)") Haikus
    a(class="gradientPaleWood" id="PaleWood" onclick="buttonClicked(this.id)") PaleWood
  
  div(class="div-gradients")
    a(class="gradientPurplin" id="Purplin" onclick="buttonClicked(this.id)") Purplin
    a(class="gradientPurplin2" id="Purplin2" onclick="buttonClicked(this.id)") Purplin2
    a(class="gradientInbox" id="Inbox" onclick="buttonClicked(this.id)") Inbox
    a(class="gradientBlush" id="Blush" onclick="buttonClicked(this.id)") Blush
    a(class="gradientBlush2" id="Blush2" onclick="buttonClicked(this.id)") Blush2
    a(class="gradientBackToTheFutur" id="BackToTheFutur" onclick="buttonClicked(this.id)") BackToTheFutur

  div(class="div-gradients")
    a(class="gradientBackToTheFutur2" id="BackToTheFutur2" onclick="buttonClicked(this.id)") BackToTheFutur2
    a(class="gradientPoncho" id="Poncho" onclick="buttonClicked(this.id)") Poncho
    a(class="gradientGandB" id="GandB" onclick="buttonClicked(this.id)") GandB
    a(class="gradientGandB2" id="GandB2" onclick="buttonClicked(this.id)") GandB2
    a(class="gradientLightOrange" id="LightOrange" onclick="buttonClicked(this.id)") LightOrange
    a(class="gradientNetflix" id="Netflix" onclick="buttonClicked(this.id)") Netflix

  div(class="div-gradients")
    a(class="gradientLittleLeaf" id="LittleLeaf" onclick="buttonClicked(this.id)") LittleLeaf
    a(class="gradientDeepPurple" id="DeepPurple" onclick="buttonClicked(this.id)") DeepPurple
    a(class="gradientBackToEarth" id="BackToEarth" onclick="buttonClicked(this.id)") BackToEarth
    a(class="gradientMasterCard" id="MasterCard" onclick="buttonClicked(this.id)") MasterCard
    a(class="gradientClearSky" id="ClearSky" onclick="buttonClicked(this.id)") ClearSky
    a(class="gradientPassion" id="Passion" onclick="buttonClicked(this.id)") Passion
  
  div(class="div-gradients")
    a(class="gradientLizard" id="Lizard" onclick="buttonClicked(this.id)") Lizard
    a(class="gradientTimber1" id="Timber1" onclick="buttonClicked(this.id)") Timber1
    a(class="gradientTimber2" id="Timber2" onclick="buttonClicked(this.id)") Timber2
    a(class="gradientNightDay1" id="NightDay1" onclick="buttonClicked(this.id)") NightDay1
    a(class="gradientNightDay2" id="NightDay2" onclick="buttonClicked(this.id)") NightDay2
    a(class="gradientSage" id="Sage" onclick="buttonClicked(this.id)") Sage
    

