@import url("https://fonts.googleapis.com/css?family=Nunito:200");
html {
  height: 100%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  background: #4ee44e;
  border-radius: 25px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
body {
  min-height: 100%;
  display: center;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.container > * {
  display: block;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.div-gradients {
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

a {
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: 0 8px 8px 0 rgba(0, 40, 120, 0.35);
  transition: all 0.5s ease;
  margin: 10px;
}

a:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.gradientAli {
  background-color: #002878;
  background-image: linear-gradient(45deg, #ff4b1f 0%, #ff4b1f 55%, #1fddff 90%);
}

.gradientPurpleWhite {
  background-color: #002878;
  background-image: linear-gradient(45deg, #BA5370 0%, #BA5370 55%, #F4E2D8 90%);
}

.gradientColorsOfSky {
  background-color: #002878;
  background-image: linear-gradient(45deg, #E0EAFC 0%, #E0EAFC 55%, #CFDEF3 90%);
}

.gradientDecent {
  background-color: #002878;
  background-image: linear-gradient(45deg, #4CA1AF 0%, #4CA1AF 55%, #C4E0E5 90%);
}

.gradientDarkSkies {
  background-color: #002878;
  background-image: linear-gradient(45deg, #4B79A1 0%, #4B79A1 55%, #283E51 90%);
}

.gradientSuzi {
  background-color: #002878;
  background-image: linear-gradient(45deg, #834d9b 0%, #834d9b 55%, #d04ed6 90%);
}

.gradientSuzi2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #d04ed6 0%, #d04ed6 55%, #834d9b 90%);
}

.gradientSuperman {
  background-color: #002878;
  background-image: linear-gradient(45deg, #0099F7 0%, #0099F7 55%, #834d9b 90%);
}

.gradientSuperman2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #834d9b 0%, #834d9b 55%, #0099F7 90%);
}

.gradientNighthawk {
  background-color: #002878;
  background-image: linear-gradient(45deg, #2980b9 0%, #2980b9 55%, #2c3e50 90%);
}

.gradientForest {
  background-color: #002878;
  background-image: linear-gradient(45deg, #5A3F37 0%, #5A3F37 55%, #2C7744 90%);
}

.gradientForest2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #2C7744 0%, #2C7744 55%, #5A3F37 90%);
}

.gradientMiamiDolphins {
  background-color: #002878;
  background-image: linear-gradient(45deg, #4DA0B0 0%, #4DA0B0 55%, #D39D38 90%);
}

.gradientMiamiDolphins2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #D39D38 0%, #D39D38 55%, #4DA0B0 90%);
}

.gradientMinnesotaVikings {
  background-color: #002878;
  background-image: linear-gradient(45deg, #5614B0 0%, #5614B0 55%, #DBD65C 90%);
}

.gradientChristmas {
  background-color: #002878;
  background-image: linear-gradient(45deg, #AA3A38 0%, #AA3A38 55%, #2F7336 90%);
}

.gradientPizelex {
  background-color: #002878;
  background-image: linear-gradient(45deg, #F29492 0%, #F29492 55%, #114357 90%);
}

.gradientHaikus {
  background-color: #002878;
  background-image: linear-gradient(45deg, #fd746c 0%, #fd746c 55%, #ff9068 90%);
}

.gradientPaleWood {
  background-color: #002878;
  background-image: linear-gradient(45deg, #eacda3 0%, #eacda3 55%, #d6ae7b 90%);
}

.gradientPurplin {
  background-color: #002878;
  background-image: linear-gradient(45deg, #6a3093 0%, #6a3093 55%, #a044ff 90%);
}

.gradientPurplin2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #a044ff 0%, #a044ff 55%, #6a3093 90%);
}

.gradientInbox {
  background-color: #002878;
  background-image: linear-gradient(45deg, #457fca 0%, #457fca 55%, #5691c8 90%);
}

.gradientBlush {
  background-color: #002878;
  background-image: linear-gradient(45deg, #B24592 0%, #B24592 55%, #F15F79 90%);
}

.gradientBlush2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #F15F79 0%, #F15F79 55%, #B24592 90%);
}

.gradientBackToTheFutur {
  background-color: #002878;
  background-image: linear-gradient(45deg, #C02425 0%, #C02425 55%, #F0CB35 90%);
}

.gradientBackToTheFutur2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #F0CB35 0%, #F0CB35 55%, #C02425 90%);
}

.gradientPoncho {
  background-color: #002878;
  background-image: linear-gradient(45deg, #B24592 0%, #B24592 55%, #F15F79 90%);
}

.gradientGandB {
  background-color: #002878;
  background-image: linear-gradient(45deg, #c2e59c 0%, #c2e59c 55%, #64b3f4 90%);
}

.gradientGandB2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #64b3f4 0%, #64b3f4 55%, #c2e59c 90%);
}

.gradientLightOrange {
  background-color: #002878;
  background-image: linear-gradient(45deg, #FFB75E 0%, #FFB75E 55%, #ED8F03 90%);
}

.gradientNetflix {
  background-color: #002878;
  background-image: linear-gradient(45deg, #8E0E00 0%, #8E0E00 55%, #1F1C18 90%);
}

.gradientLittleLeaf {
  background-color: #002878;
  background-image: linear-gradient(45deg, #76b852 0%, #76b852 55%, #8DC26F 90%);
}

.gradientDeepPurple {
  background-color: #002878;
  background-image: linear-gradient(45deg, #673AB7 0%, #673AB7 55%, #512DA8 90%);
}

.gradientBackToEarth {
  background-color: #002878;
  background-image: linear-gradient(45deg, #00C9FF 0%, #00C9FF 55%, #92FE9D 90%);
}

.gradientMasterCard {
  background-color: #002878;
  background-image: linear-gradient(45deg, #f46b45 0%, #f46b45 55%, #eea849 90%);
}

.gradientClearSky {
  background-color: #002878;
  background-image: linear-gradient(45deg, #005C97 0%, #005C97 55%, #363795 90%);
}

.gradientPassion {
  background-color: #002878;
  background-image: linear-gradient(45deg, #e53935 0%, #e53935 55%, #e35d5b 90%);
}

.gradientLizard {
  background-color: #002878;
  background-image: linear-gradient(45deg, #304352 0%, #304352 55%, #d7d2cc 90%);
}

.gradientTimber1 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #fc00ff 0%, #fc00ff 55%, #00dbde 90%);
}

.gradientTimber2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #00dbde 0%, #00dbde 55%, #fc00ff 90%);
}

.gradientNightDay1 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #2c3e50 0%, #2c3e50 55%, #3498db 90%);
}

.gradientNightDay2 {
  background-color: #002878;
  background-image: linear-gradient(45deg, #3498db 0%, #3498db 55%, #2c3e50 90%);
}

.gradientSage {
  background-color: #002878;
  background-image: linear-gradient(45deg, #CCCCB2 0%, #CCCCB2 55%, #757519 90%);
}